<div class="card my-5">
  <div class="card-body">
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name">
      <button (click)="getCities()">Filter</button>
    </form>
    <app-pagination [currentPage]="page" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"></app-pagination>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities">
          <td>{{ city.id }}</td>
          <td>{{ city.name }}</td>
          <td><img src="{{ city.photoUrl }}" alt="{{city.name}}" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
